@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #F1E3D3;
}

#logo {
    font-family: Playfair Display;
    color: #8C5A63;
}


nav {
    background-color:#F1E3D3;
    /* filter:opacity(0.8); */  
}

#nav-dropdown:focus {
    box-shadow: none;
    background-color: black;
    color:#F1E3D3;
}

#home-img {
    background-image: url("/static/img/pexels-pixabay-206434.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;   
}