@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap');

body {
    background-color:#Fff ;
}

h1, h2 {
    font-family: Playfair Display;
}

h3, h4, h5 {
    font-family: Common Garamond;
}

a,a:hover,.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    text-shadow:0px 0px 1px black;
    color:inherit;
}

.theme-nav.active {
    background-color: #fff !important;
    color:#343540 !important;
}

#logo {
    color: #fff;
}

.extra {
    color: #fff;
}

.newsletter-form {
    --bs-gutter-x: 1.5rem;
}


nav {
    background-color:#343540;
    /* border-bottom: 1px #633941 solid; */
    /* filter:opacity(0.8); */  
}

#nav-dropdown:focus {
    box-shadow: none;
    background-color: black;
    color:#ADBF97;
}

#home-img {
    background-image: url("/static/img/bg-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;   
}

.category-img {
    transition: transform .2s;
}

.category-img:hover {
    transform: scale(1.05);
}

.newsletter {
    background-color: #63C7B2;
}

.product-img {
    border: 1px #633941 solid;
}
.card-body {
    background-color:#F4F1DE;
}

.recom {
    background-color: #fff;
}