<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a id="logo" class="navbar-brand fs-2 ps-4" href="">DANK TEES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown fs-5 fw-bold">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-bag-shopping"></i> Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">T-Shirts</a></li>
            <li><a class="dropdown-item" href="#">Hoodies</a></li>
            <li><a class="dropdown-item" href="#">Headwear</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto pe-5">
        <li class="nav-item fa-solid px-2">
          <a class="nav-link fa-xl fa-magnifying-glass text-dark"></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link fa-solid fa-xl fa-cart-shopping text-dark"></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link fa-solid fa-xl fa-user text-dark"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>