{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/nav.html' %}
<div class="container-lg">
    <div class="row pt-4">
        {% if theme and category %}    
        <h3 class="fw-bold">{{ theme }} {{ category.name }}</h3>
        {% else %}
        <h3 class="fw-bold">All {{ theme }} Products</h3>
        {% endif %}
        <div class="col-12 col-md-8 pt-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if category_type == 'all' %} active {% endif %}" href="{% url 'product_list' %}all{% if theme %}?theme={{theme}}{% endif %}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if category_type == 'tshirt' %} active {% endif %}" href="{% url 'product_list' %}tshirt{% if theme %}?theme={{theme}}{% endif %}">T-shirts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if category_type == 'hoodies' %} active {% endif %}" href="{% url 'product_list' %}hoodies{% if theme %}?theme={{theme}}{% endif %}">Hoodies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if category_type == 'headwear' %} active {% endif %}" href="{% url 'product_list' %}headwear{% if theme %}?theme={{theme}}{% endif %}">Headwear</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-8">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="{% url 'product_list'  %}{{category_type}}?theme=Gaming" class="nav-link {% if theme == 'gaming' %} active {% endif %}">Gaming</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_list' %}{{category_type}}?theme=Retro" class="nav-link">Retro</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_list' %}{{category_type}}?theme=Simplistic" class="nav-link">Simplistic</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_list' %}{{category_type}}?theme=Artistic" class="nav-link">Artistic</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_list' %}{{category_type}}?theme=Memes" class="nav-link">Memes</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-7 offset-md-5 pt-md-0">
            <ul class="list-group list-group-horizontal">
                <strong><li class="list-group-item py-1">Sort By</li></strong>
                <a href="{% url 'product_list' %}{% if category or theme %}&{% else %}?{% endif %}sortby=price" class="list-group-item py-1">Price</a>
                <a href="{% url 'product_list' %}{% if category or theme %}&{% else %}?{% endif %}sortby=name" class="list-group-item py-1">Name a-Z</a>
                <a href="{% url 'product_list' %}{% if category or theme %}&{% else %}?{% endif %}sortby=rating" class="list-group-item py-1">Rating</a>
                <a href="{% url 'product_list' %}{% if category or theme %}&{% else %}?{% endif %}sortby=date" class="list-group-item py-1">Latest</a>
              </ul>     
        </div>
    </div>
    <hr>
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-6 col-md-4 px-5 pb-2 category-img">
            <a href="{% url 'product' product.pk %}">
                <img class="img-fluid" src="{{ product.image_url }}" alt="">
                <h4 class="pt-1">{{ product.name }}</h4>
                <p class="text-muted"> - {{ product.description }}</p>
            </a>
            <button type="button" class="btn btn-sm btn-dark">Add to cart</button>
            <strong><span class="px-2">${{ product.price }}</span></strong>
            <hr>
        </div>
        {% endfor %}
        {% else %}
        <h1>NO MATCHES</h1>
        {% endif %}
    </div> 
</div>
{% include 'includes/newsletter.html' %}
{% endblock %}