{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/nav.html' %}
{% include 'includes/product_nav.html' %}
<div class="container">
    <div class="row py-4">
        {% if category %}
        <h3>Showing all {{ products.name }}</h3>
        {% else %}
        <h3>Showing products for all categories</h3>
        {% endif %}
        <div class="col col-md-8 text-center">
            <a href="{% url 'product_list' %}?category=tshirt">T-shirts</a>
            <a href="{% url 'product_list' %}?category=hoodies">Hoodies</a>
            <a href="{% url 'product_list' %}?category=headwear">Headwear</a>
        </div>
        <div class="col col-md-4">
            
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col col-md-4">
            <a href="{% url 'product' product.pk %}">
                <img class="img-fluid" src="{{ product.image_url }}" alt="">
            </a>
            <h3>{{ product.name }}</h3>
            <p> {{ product.description }} </p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}